
.MenuLateral {
    min-height: 100.5vh;
    width: 15%;
    background-color: #e40909;
    float: inline-start;
}

.Botones{
    margin-top: 20px;
    background-color: #00b7ff;
    padding: 30px;
    margin-bottom: 35px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10px;
}

.ParteSuperior {
    height: 100px;
    background-color: #2cff02;
    display: flex;
    justify-content: space-between
}

.Titulo {
    width: 75%;
    height:80%;
    background-color: #ff7b00;
    padding: 10px 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: #0032d8;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.contenidoApartado2{
    display: flex;
    margin-left: auto;
    justify-content: center;
    min-height:90vh;
    background-color: #ff00b3
}

.contenidoApartado3{
    width: 50%;
    min-height:90vh;
    float: inline-start;
    background-color: #2d8dcc
}
.contenidoApartado31{
    width: 35%;
    min-height:90vh;
    float: inline-end;
    background-color: blueviolet;
}