body {
    margin: 0;
}


.MenuLateral {
    min-height: 100vh;
    width: 15%;
    background-color: #e40909;
    float: inline-start;
}

.Botones{
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 20px;
    align-content: center;
    background-color: #00b7ff;
    padding: 10%;
    margin-bottom: 30px;
    border: 2px solid #000000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}

.ParteSuperior {
    height: 10vh;
    background-color: #2cff02;
    display: flex;
    justify-content: space-between
}

.Titulo {
    width: 75%;
    height:80%;
    background-color: #ff7b00;
    padding: 10px 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 15%;
    height: 100%;
    background-color: #0032d8;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.contenidoApartado2{
    padding-top: 4%;
    padding-left: 4%;
    min-height:82vh;
    display: flex;
    background-color: #ff00b3
    
}

.contenidoApartado3{
    width: 50%;
    min-height:90vh;
    float: inline-start;
    background-color: #2d8dcc;
    margin-left: auto;
}
.contenidoApartado31{
    width: 35%;
    min-height:90vh;
    float: inline-end;
    background-color: blueviolet;
}
.formulario1{
    width: 50%;
    width: 50%;
    margin: 5%;
    background-color: rgb(146, 144, 148);
    border: 2px solid white;
    float: inline-start;
    margin-right: auto;
}